# Entorno
NODE_ENV=
PORT=

# Base de datos
DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=

# ATENCION! solo en desarrollo - NUNCA en producción
# En producción usar migraciones npm run migration:run
DB_SYNC= 


# JWT web tokens
# Debe ser mínimo de 32 caracteres. Generar en terminal con: openssl rand -base64 32
JWT_SECRET=
JWT_EXPIRES_IN=

# Cifrado de wallets
# debe ser exactamente 32 caracteres (AES-256)
# generar desde terminal con: openssl rand -base64 24 | head -c 32
WALLET_ENCRYPTION_KEY=

# Blockchain
# URL del nodo RPC Hardhat local
BLOCKCHAIN_RPC=
# private_key generada por el nodo local de hardhat solo para desarrollo - NUNCA en producción
PLATFORM_PRIVATE_KEY=


# Frontend (para CORS en producción)
FRONTEND_URL=

#Redis cache
REDIS_URL=
