<div class="energy-grid">

  <!-- HOURLY -->
  <div class="chart-card">
    <apx-chart [series]="hourlySeries" [chart]="hourlyChart" [xaxis]="hourlyXAxis" [dataLabels]="dataLabels"
      [stroke]="stroke" [title]="hourlyTitle" [legend]="legend">
    </apx-chart>
  </div>


  <!-- MONTHLY -->
  <div class="chart-card">

    <div class="monthly-header">

      <div class="monthly-title">
        Producción vs Consumo (Mes actual)
      </div>

      <div class="monthly-balance" [ngClass]="{
      positive: monthlyBalance >= 0,
      negative: monthlyBalance < 0
    }">

        {{ monthlyBalance >= 0 ? '+' : '' }}
        {{ monthlyBalance | number:'1.0-2' }} kWh

    </div>
    </div>

    <apx-chart [series]="monthlySeries" [chart]="monthlyChart" [xaxis]="monthlyXAxis" [dataLabels]="dataLabels"
      [stroke]="stroke" [legend]="legend">
    </apx-chart>

  </div>

  <!-- SOURCE DISTRIBUTION -->
  <div class="chart-card">
    <apx-chart [series]="sourceSeries" [chart]="sourceChart" [labels]="sourceLabels" [title]="sourceTitle"
      [responsive]="responsive">
    </apx-chart>
  </div>

</div>