<header class="page-header">
  <h1 class="page-title">Mi Wallet</h1>
</header>

<main class="wallet-page">

  <!-- BALANCE -->
  <section class="card balance-card" *ngIf="walletData; else loadingWallet">
    <div class="balance-content">
      <div class="balance-info">
        <div class="balance-label">Balance disponible</div>
        <div class="balance-value">
          {{ walletData.balanceCop | number:'1.2-2' }} COP
        </div>
      </div>
    </div>
    <!-- FORMULARIO ACCIONES-->
    <div class="operations">
      <h3 class="section-title">Operaciones</h3>
      <div class="form-row">

        <div class="form-group">
          <label>Recargar COP</label>
          <input type="number" [(ngModel)]="depositAmount" />
          <button class="btn primary" (click)="depositCop()">Recargar</button>
        </div>

        <div class="form-group">
          <label>Retirar COP</label>
          <input type="number" [(ngModel)]="withdrawAmount" />
          <button class="btn danger" (click)="withdrawCop()">Retirar</button>
        </div>

      </div>
    </div>
  </section>

  <ng-template #loadingWallet>
    <div class="wallet-loading">Cargando wallet...</div>
  </ng-template>

  <!-- HISTÓRICO -->
  <section class="card history-card">

    <div *ngIf="loading" class="table-loading">
      Cargando movimientos...
    </div>

    <ng-container *ngIf="!loading">

      <table class="transactions-table" *ngIf="transactions.length > 0">
        <thead>
          <tr>
            <th>Tipo</th>
            <th>Monto bruto</th>
            <th>Tarifa</th>
            <th>Monto final</th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tx of transactions; trackBy: trackById">
            <td>{{ tx.type }}</td>
            <td>{{ getDisplayAmount(tx) | number:'1.2-2' }} COP</td>
            <td>{{ tx.feeCOP | number:'1.2-2' }}</td>
            <td [ngClass]="{ positive: tx.signedAmount > 0, negative: tx.signedAmount < 0 }">
              {{ tx.signedAmount > 0 ? '+' : '' }}{{ tx.signedAmount | number:'1.2-2' }} COP
            </td>
            <td>{{ tx.createdAt | date:'short' }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="transactions.length === 0" class="empty-state">
        No hay movimientos.
      </div>

    </ng-container>

    <!-- PAGINACIÓN -->
    <div class="pagination" *ngIf="totalItems > pageSize">
      <button class="btn ghost" (click)="prevPage()" [disabled]="page === 1">
        Anterior
      </button>
      <span class="page-info">Página {{ page }} de {{ totalPages }}</span>
      <button class="btn ghost" (click)="nextPage()" [disabled]="page >= totalPages">
        Siguiente
      </button>
    </div>

  </section>

</main>