/* You can add global styles to this file, and also import other style files */
:root {
  --color-primary: #eb812b;
  --color-bg-sidebar: #020617;
  --color-bg-topbar: #020617;
  --color-bg-content: #f1f5f9;
}
