<div class="kpi-grid">

  <!-- Balance energético -->
  <div class="kpi-card energy">
    <div class="kpi-title">Balance Energético Mensual</div>
    <div class="kpi-value">
      {{ energyMonthlyBalance | number:'1.0-2' }} kWh
    </div>
  </div>

  <!-- Balance billetera -->
  <div class="kpi-card wallet">
    <div class="kpi-title">Balance Billetera Mensual</div>
    <div class="kpi-value">
      {{ walletMonthlyBalance | currency:'COP':'symbol':'1.0-0' }}
    </div>
  </div>

  <!-- KPI condicional por rol -->
  <div class="kpi-card buyer">
    <div class="kpi-title">Ofertas Kwh Contratadas</div>
    <div class="kpi-value">
      {{ buyerContracts }}
    </div>
  </div>

  <div class="kpi-card seller">
    <div class="kpi-title">Mis Contratos activos </div>
    <div class="kpi-value">
      {{ sellerContracts }}
    </div>
  </div>
</div>