:host {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 14px 24px;
  font-size: 13px;

  background: #000000;
  color: rgba(255, 255, 255, 0.7);

  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
